<!DOCTYPE html>
<html lang="ita">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" type="text/javascript" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js" integrity="sha512-QTnb9BQkG4fBYIt9JGvYmxPpd6TBeKp6lsUrtiVQsrJ9sb33Bn9s0wMQO9qVBFbPX3xHRAsBHvXlcsrnJjExjg==" crossorigin="anonymous" referrerpolicy="no-referrer" type="text/javascript" defer></script>
    <script src="js/script.js" type="text/javascript" defer></script>
</head>
<body>
    <div id="app">
        <main>
            <div id="guests-list" v-if="(randomGuestsList.length === totalGuests)">
                <input type="text" v-model.trim.lazy="userName">
                <ul>
                    <li v-for="randomGuest in randomGuestsList">{{randomGuest}}</li>
                </ul>
                <div id="final-response" v-if="userName !== ''">
                    <span>{{(randomGuestsList.includes(userName)) ? 'sei presente nella lista' : 'non sei presente nella lista'}}</span>
                </div>
            </div>
            <div v-else>
                <span>Caricamento in corso ...</span>
            </div>
        </main>
    </div>
</body>
</html>