<!DOCTYPE html>
<html lang="ita">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" type="text/javascript" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js" integrity="sha512-QTnb9BQkG4fBYIt9JGvYmxPpd6TBeKp6lsUrtiVQsrJ9sb33Bn9s0wMQO9qVBFbPX3xHRAsBHvXlcsrnJjExjg==" crossorigin="anonymous" referrerpolicy="no-referrer" type="text/javascript" defer></script>
    <script src="js/script.js" type="text/javascript" defer></script>
</head>
<body>
    <div id="app">
        <main>
            <input type="number" placeholder="Quanti elementi vuoi nella lista?" v-model.trim.lazy="numOfNumbers" @keyup.enter="getARandomNumber()">
            <ul>
                <li v-for="num in numList">{{num}}</li>
            </ul>
            <span class="fs-1 fw-bold" v-if="numList.length!=0">{{sum}}</span>
        </main>
    </div>
</body>
</html>